body {
  text-align: center;
  font-family: sans-serif;
}

#avatar {
  position: relative;
  width: 70%;
  max-width: 250px;
  margin: auto;
}

#avatar img {
  position: absolute;
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  font-size: 16px;
}
